.bannersList {
    height: 975px;
    width: 100%;
    background-color: #ffffff;
}

.bannersTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 30px 0;
}

.bannersTitle span {
    color: #a77c5a;
}

.bannersList .card-panel {
    padding: 0;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.bannersList .card-content {
    text-align: center;
    color: #a77c5a !important;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.bannersList img{
    margin: -60px -182px -30px -188px;
}
