header{
    background-color: #f2ebe6;
}
nav{
    box-shadow: none;
    background-color: #f2ebe6;
}
nav li a{
    color: #212121;;
}
nav .brand-logo{
    padding: 10px;
}

.brand-logo img{
    width: 100%;
    height: auto;
}

.menu-center{
    text-transform: uppercase;
}
ul.menu-center li a{
    font-size: 14px;
}