
@font-face {
    font-family: Gotham;
    src: url(./../../fonts/Gotham_Medium_Regular.ttf);
}

* {
    font-family: Gotham;
 /*   color: #212121;*/
}

.container {
    width: 81.35%;
}
/*pressed footer start*/
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/*pressed footer end*/